In [19]:
import pandas as pd

import matplotlib
%matplotlib inline
import numpy as np

from matplotlib import pyplot as plot

In [131]:
zapis = pd.read_csv('podatki_za_obdelavo.csv', encoding = "utf-8", sep=';')
zapis['Birthday'] = pd.to_datetime(zapis['Birthday'])
pd.parse_dates=['Birthday'] #kaj sploh delajo te funkcije?
zapis.index = zapis['Birthday']

In [132]:
zapis.sort_values(by=['Birthday'], ascending=True)

,Rank,Country,Age,Birthday,Weight,Height,WL_17,T17,Earn17,Career_high,WL_career,T_career,Earn_career
Birthday,,,,,,,,,,,,,
1971-09-12,1606,MAR,46,1971-09-12,86,193,0-0,0,258,14,265-227,5,"4,044,667"
1976-07-09,1606,ESP,41,1976-07-09,,,0-0,0,430,292,0-0,0,"42,267"
1976-09-20,957,JPN,41,1976-09-20,73,175,0-0,0,"1,530",102,50-46,0,"729,199"
1977-06-18,1606,ROU,40,1977-06-18,76,185,0-0,0,258,74,21-53,0,"714,904"
1978-01-06,430,ESP,39,1978-01-06,74,183,0-0,0,"32,325",50,68-133,0,"2,346,155"
1978-04-03,252,GER,39,1978-04-03,84,188,6-14,0,"261,904",2,569-338,15,"13,609,987"
1978-04-19,1694,JPN,39,1978-04-19,77,180,0-1,0,"23,337",141,2-5,0,"258,467"
1978-06-18,1492,KOR,39,1978-06-18,,,0-0,0,828,288,1-0,0,"89,268"
1978-11-27,354,CZE,39,1978-11-27,76,185,3-2,0,"94,064",8,384-302,5,"11,343,464"
1979-02-28,80,CRO,38,1979-02-28,104,211,15-20,0,"670,230",14,346-307,8,"8,790,533"
1979-07-07,1606,CZE,38,1979-07-07,83,188,0-0,0,258,59,79-118,0,"2,178,092"
1980-01-30,1694,PAK,37,1980-01-30,,,1-0,0,930,613,20-14,0,"16,902"
1980-05-17,218,FRA,37,1980-05-17,77,185,1-11,0,"212,454",50,37-72,0,"2,216,454"
1980-06-06,1192,ROU,37,1980-06-06,81,170,0-0,0,"1,784",218,0-0,0,"134,451"
1980-07-11,1321,COL,37,1980-07-11,,,0-0,0,852,245,8-4,0,"205,626"
1980-08-02,83,DOM,37,1980-08-02,77,170,9-10,1,"354,188",43,82-72,3,"1,958,311"
1980-10-10,1694,FIN,37,1980-10-10,,,0-0,0,320,300,2-1,0,"41,293"
1980-12-12,829,USA,37,1980-12-12,82,188,0-0,0,"3,686",516,0-0,0,"27,919"
1981-02-09,684,CZE,36,1981-02-09,72,178,0-0,0,"5,827",103,1-7,0,"530,993"
1981-05-22,186,AUT,36,1981-05-22,81,183,0-2,0,"80,169",8,348-334,5,"9,936,146"
1981-06-16,519,GER,36,1981-06-16,72,178,0-3,0,"60,768",35,153-220,1,"4,399,584"
1981-08-08,2,SUI,36,1981-08-08,85,185,52-5,7,"13,054,856",1,1132-250,95,"111,885,682"
1981-09-10,418,SUI,36,1981-09-10,85,185,2-5,0,"92,614",52,52-98,0,"2,023,620"
1981-09-20,36,ESP,36,1981-09-20,73,185,25-23,1,"1,303,087",12,452-409,6,"14,640,010"
1981-10-14,842,RUS,36,1981-10-14,78,183,7-9,0,"66,616",53,62-91,1,"837,359"
1981-11-05,1444,MKD,36,1981-11-05,,,0-0,0,516,505,2-7,0,"22,673"
1981-12-15,43,ITA,36,1981-12-15,77,183,25-35,0,"979,470",33,97-154,1,"4,039,685"
1981-12-20,56,FRA,36,1981-12-20,79,185,13-14,0,"570,506",25,265-286,0,"8,997,245"
1982-01-03,475,CZE,35,1982-01-03,84,191,0-0,0,"13,381",163,2-1,0,"597,668"
1982-01-12,249,FRA,35,1982-01-12,74,185,1-9,0,"180,965",12,276-306,4,"6,299,093"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2000-10-06,1849,ARG,17,2000-10-06,,,0-0,0,312,1446,0-0,0,"1,038"
2000-10-12,1694,AUT,17,2000-10-12,,,0-0,0,414,1694,0-0,0,518
2000-10-24,1492,NED,17,2000-10-24,,,0-0,0,648,1029,0-0,0,"1,580"
2000-10-26,566,GER,17,2000-10-26,,,0-1,0,"20,381",563,0-1,0,"23,098"
2000-10-30,1606,TPE,17,2000-10-30,,,0-0,0,430,1604,0-0,0,484
2000-11-07,1606,ARG,17,2000-11-07,,,0-0,0,258,1606,0-0,0,354
2000-11-16,1781,USA,17,2000-11-16,,,0-0,0,414,1781,0-0,0,518
2000-12-07,1465,SRB,17,2000-12-07,,,0-0,0,672,1461,0-0,0,830
2000-12-15,1781,ARG,17,2000-12-15,,,0-0,0,570,1604,0-0,0,774
2000-12-28,1129,ARG,17,2000-12-28,,,0-0,0,"1,273",1116,0-0,0,"1,549"
2001-02-01,998,UZB,16,2001-02-01,80,183,0-0,0,"3,278",989,0-0,0,"6,506"
2001-02-13,1436,USA,16,2001-02-13,,,0-0,0,594,1434,0-0,0,648
2001-02-17,1237,USA,16,2001-02-17,,,0-0,0,"1,300",1237,0-0,0,"2,078"
2001-02-21,1606,USA,16,2001-02-21,,,0-0,0,258,1604,0-0,0,312
2001-02-22,1543,MAR,16,2001-02-22,,,0-0,0,"1,218",1465,0-0,0,"1,530"
2001-02-27,1606,VIE,16,2001-02-27,,,0-0,0,258,1604,0-0,0,972
2001-04-01,1781,BRA,16,2001-04-01,,,0-0,0,570,1604,0-0,0,762
2001-04-10,1694,ARG,16,2001-04-10,,,0-0,0,414,1694,0-0,0,614
2001-05-18,1129,ESP,16,2001-05-18,,,0-0,0,"1,793",1116,0-0,0,"4,020"
2001-05-27,1694,POL,16,2001-05-27,,,0-0,0,414,1678,0-0,0,468
2001-05-30,1432,GBR,16,2001-05-30,,,0-0,0,438,1430,0-0,0,438
2001-06-21,1694,FIN,16,2001-06-21,,,0-0,0,586,1694,0-0,0,"1,226"
2001-06-28,1961,RUS,16,2001-06-28,,,0-0,0,"1,506",1876,0-0,0,"1,506"
2001-07-10,1781,BLR,16,2001-07-10,,,0-0,0,570,1781,0-0,0,"1,690"
2001-07-26,1606,ESP,16,2001-07-26,,,0-0,0,258,1604,0-0,0,312
2001-08-08,1455,TPE,16,2001-08-08,,,0-0,0,312,1340,0-0,0,988
2001-08-15,1606,ISR,16,2001-08-15,,,0-0,0,258,1604,0-0,0,670
2001-09-18,1321,ROU,16,2001-09-18,,,0-0,0,852,1307,0-0,0,"1,046"
2002-05-12,1444,ESP,15,2002-05-12,,,0-0,0,516,1443,0-0,0,624
2002-11-20,1606,RSA,15,2002-11-20,,,0-0,0,216,1483,0-0,0,474

In [133]:
zapis.iloc[1]

Rank                             2
Country                        SUI
Age                             36
Birthday       1981-08-08 00:00:00
Weight                          85
Height                         185
WL_17                         52-5
T17                              7
Earn17                  13,054,856
Career_high                      1
WL_career                 1132-250
T_career                        95
Earn_career            111,885,682
Name: 1981-08-08 00:00:00, dtype: object

In [114]:
#zapis(parse_dates=['Birthday'])
zapis[:1000].plot(x='Birthday', y='Rank', kind='scatter', title='Razmerje')

ValueError: scatter requires x column to be numeric

In [115]:
drzava = zapis.groupby('Birthday')
drzava = drzava.count()

In [116]:
drzava['Rank'].sort_values('Rank', ascending=False)

ValueError: No axis named Rank for object type <class 'pandas.core.series.Series'>